<section id="intro">
  <div class="">
    <div class="owl-carousel owl-theme carousel-1">
      <div class="item position-relative">
        <div class="car-image"
          style="background-image: url({{'/assets/images/carousel/01.jpg' | relative_url}})">
        </div>
        <div class="text-container position-absolute">
          <p>IMS KOREA</p>
          <h1>에듀테크 표준화 포럼</h1>
        </div>
      </div>

      <div class="item">
        <div class="car-image"
          style="background-image: url({{'/assets/images/carousel/02.jpg' | relative_url}})"></div>
        <div class="text-container position-absolute">
          <p>IMS KOREA</p>
          <h1>에듀테크 표준화 포럼</h1>
        </div>
      </div>

      <div class="item">
        <div class="car-image"
          style="background-image: url({{'/assets/images/carousel/03.jpg' | relative_url}})">
        </div>
        <div class="text-container position-absolute">
          <p>IMS KOREA</p>
          <h1>에듀테크 표준화 포럼</h1>
        </div>
      </div>
    </div>
  </div>
</section>
